# Rental Listing Inquiries
Kaggle: https://www.kaggle.com/c/two-sigma-connect-rental-listing-inquiries

In [19]:
import pandas as pd
import numpy as np

train_data = pd.read_json('train.json')
test_data = pd.read_json('test.json')

In [2]:
# Load train and test data
features_all = train_data.columns.values

print 'Train data:'
print 'Unique listings: ', train_data['listing_id'].count()
print 'Number of features: ', len(features_all)
print 'List of features: ',
for i in range(len(features_all)):
    if i == len(features_all) - 1:
        print features_all[i]
    else:
        print features_all[i]+',',

train_data.head()

Train data:
Unique listings:  49352
Number of features:  15
List of features:  bathrooms, bedrooms, building_id, created, description, display_address, features, interest_level, latitude, listing_id, longitude, manager_id, photos, price, street_address

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy ...,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,[https://photos.renthop.com/2/7211212_1ed4542e...,3000,792 Metropolitan Avenue
10000,1.0,2,c5c8a357cba207596b04d1afd1e4f130,2016-06-12 12:19:27,,Columbus Avenue,"[Doorman, Elevator, Fitness Center, Cats Allow...",low,40.7947,7150865,-73.9667,7533621a882f71e25173b27e3139d83d,[https://photos.renthop.com/2/7150865_be3306c5...,5465,808 Columbus Avenue
100004,1.0,1,c3ba40552e2120b0acfc3cb5730bb2aa,2016-04-17 03:26:41,"Top Top West Village location, beautiful Pre-w...",W 13 Street,"[Laundry In Building, Dishwasher, Hardwood Flo...",high,40.7388,6887163,-74.0018,d9039c43983f6e564b1482b273bd7b01,[https://photos.renthop.com/2/6887163_de85c427...,2850,241 W 13 Street
100007,1.0,1,28d9ad350afeaab8027513a3e52ac8d5,2016-04-18 02:22:02,Building Amenities - Garage - Garden - fitness...,East 49th Street,"[Hardwood Floors, No Fee]",low,40.7539,6888711,-73.9677,1067e078446a7897d2da493d2f741316,[https://photos.renthop.com/2/6888711_6e660cee...,3275,333 East 49th Street
100013,1.0,4,0,2016-04-28 01:32:41,Beautifully renovated 3 bedroom flex 4 bedroom...,West 143rd Street,[Pre-War],low,40.8241,6934781,-73.9493,98e13ad4b495b9613cef886d79a6291f,[https://photos.renthop.com/2/6934781_1fa4b41a...,3350,500 West 143rd Street

In [3]:
features_test = test_data.columns.values

print 'Test data:'
print 'Unique listings: ', test_data['listing_id'].count()
print 'Number of features: ', len(features_test)
print 'List of features: ',
for i in range(len(features_test)):
    if i == len(features_test) - 1:
        print features_test[i]
    else:
        print features_test[i]+',',

test_data.head()

Test data:
Unique listings:  74659
Number of features:  14
List of features:  bathrooms, bedrooms, building_id, created, description, display_address, features, latitude, listing_id, longitude, manager_id, photos, price, street_address

,bathrooms,bedrooms,building_id,created,description,display_address,features,latitude,listing_id,longitude,manager_id,photos,price,street_address
0,1.0,1,79780be1514f645d7e6be99a3de696c5,2016-06-11 05:29:41,Large with awesome terrace--accessible via bed...,Suffolk Street,"[Elevator, Laundry in Building, Laundry in Uni...",40.7185,7142618,-73.9865,b1b1852c416d78d7765d746cb1b8921f,[https://photos.renthop.com/2/7142618_1c45a2c8...,2950,99 Suffolk Street
1,1.0,2,0,2016-06-24 06:36:34,Prime Soho - between Bleecker and Houston - Ne...,Thompson Street,"[Pre-War, Dogs Allowed, Cats Allowed]",40.7278,7210040,-74.0000,d0b5648017832b2427eeb9956d966a14,[https://photos.renthop.com/2/7210040_d824cc71...,2850,176 Thompson Street
100,1.0,1,3dbbb69fd52e0d25131aa1cd459c87eb,2016-06-03 04:29:40,New York chic has reached a new level ...,101 East 10th Street,"[Doorman, Elevator, No Fee]",40.7306,7103890,-73.9890,9ca6f3baa475c37a3b3521a394d65467,[https://photos.renthop.com/2/7103890_85b33077...,3758,101 East 10th Street
1000,1.0,2,783d21d013a7e655bddc4ed0d461cc5e,2016-06-11 06:17:35,Step into this fantastic new Construction in t...,South Third Street\r,"[Roof Deck, Balcony, Elevator, Laundry in Buil...",40.7109,7143442,-73.9571,0b9d5db96db8472d7aeb67c67338c4d2,[https://photos.renthop.com/2/7143442_0879e9e0...,3300,251 South Third Street\r
100000,2.0,2,6134e7c4dd1a98d9aee36623c9872b49,2016-04-12 05:24:17,"~Take a stroll in Central Park, enjoy the ente...","Midtown West, 8th Ave","[Common Outdoor Space, Cats Allowed, Dogs Allo...",40.7650,6860601,-73.9845,b5eda0eb31b042ce2124fd9e9fcfce2f,[https://photos.renthop.com/2/6860601_c96164d8...,4900,260 West 54th Street

In [45]:
# Ration of NaN values
ratio = {}
for i in features_all:
    k = 0
    for j in train_data[i].values:
        if j == 'NaN' or j == [] or j == '0' or j == '':
            k += 1
    ratio[i] = round(k / float(train_data[i].count()), 10)
        
ratio

{u'bathrooms': 0.0,
 u'bedrooms': 0.0,
 u'building_id': 0.1678959313,
 u'created': 0.0,
 u'description': 0.0292997244,
 u'display_address': 0.0027354515,
 u'features': 0.0652050575,
 u'interest_level': 0.0,
 u'latitude': 0.0,
 u'listing_id': 0.0,
 u'longitude': 0.0,
 u'manager_id': 0.0,
 u'photos': 0.0732493111,
 u'price': 0.0,
 u'street_address': 0.000202626}

In [51]:
# Cleaning and updating data
train_data['created'] = pd.to_datetime(train_data['created'])
train_data['created']

10       2016-06-24 07:54:24
10000    2016-06-12 12:19:27
100004   2016-04-17 03:26:41
100007   2016-04-18 02:22:02
100013   2016-04-28 01:32:41
100014   2016-04-19 04:24:47
100016   2016-04-27 03:19:56
100020   2016-04-13 06:01:42
100026   2016-04-20 02:36:35
100027   2016-04-02 02:58:15
100030   2016-04-14 01:10:30
10004    2016-06-03 03:21:22
100044   2016-04-19 05:37:25
100048   2016-04-09 01:22:11
10005    2016-06-01 03:11:01
100051   2016-04-18 02:36:00
100052   2016-04-22 05:57:16
100053   2016-04-19 03:36:28
100055   2016-04-20 04:00:32
100058   2016-04-09 03:49:42
100062   2016-04-12 02:39:45
100063   2016-04-07 02:11:45
100065   2016-04-13 05:17:43
100066   2016-04-17 02:26:52
10007    2016-06-07 04:39:56
100071   2016-04-27 06:43:40
100075   2016-04-25 02:29:50
100076   2016-04-22 05:39:10
100079   2016-04-21 05:27:10
100081   2016-04-26 02:59:37
                 ...
99915    2016-04-25 01:13:37
99917    2016-04-26 04:43:14
99919    2016-04-08 05:51:57
99921    2016-04-29 15:03:29
99923    2016-04-05 01:12:45
99924    2016-04-24 03:15:18
99931    2016-04-25 01:20:23
99933    2016-04-03 03:51:21
99935    2016-04-19 02:58:55
99937    2016-04-14 05:39:33
9994     2016-06-06 01:22:44
99953    2016-04-26 02:18:16
99956    2016-04-16 16:39:50
99960    2016-04-05 04:35:32
99961    2016-04-22 03:11:44
99964    2016-04-29 05:20:49
99965    2016-04-03 05:23:23
99966    2016-04-15 05:36:39
99979    2016-04-14 03:32:24
99980    2016-04-27 12:52:12
99982    2016-04-07 02:29:00
99984    2016-04-02 03:17:03
99986    2016-04-14 03:39:42
99987    2016-04-11 03:29:05
99988    2016-04-22 15:44:11
9999     2016-06-02 05:41:05
99991    2016-04-04 18:22:34
99992    2016-04-16 02:13:40
99993    2016-04-08 02:13:33
99994    2016-04-12 02:48:07
Name: created, dtype: datetime64[ns]

In [22]:
# Create new features

train_data['price_bd_ratio'] = np.where(train_data['bedrooms'] == 0, 
                                        train_data['price'], 
                                        train_data['price'] / train_data['bedrooms'])

In [21]:
train_data[['price_bd_ratio', 'price', 'bedrooms']]

        price_bd_ratio  price  bedrooms
10         1000.000000   3000         3
10000      2732.500000   5465         2
100004     2850.000000   2850         1
100007     3275.000000   3275         1
100013      837.500000   3350         4
100014     1998.750000   7995         4
100016     1800.000000   3600         2
100020     5645.000000   5645         1
100026     1725.000000   1725         1
100027     1450.000000   5800         4
100030     1950.000000   1950         0
10004      1675.000000   1675         1
100044     1500.000000   3000         2
100048     3447.500000   6895         2
10005      3050.000000   3050         1
100051     2350.000000   2350         0
100052     1825.000000   3650         2
100053     1695.000000   1695         1
100055     1250.000000   5000         4
100058     3973.000000   3973         1
100062     1465.000000   4395         3
100063     1499.500000   2999         2
100065     2595.000000   2595         1
100066     3695.000000   3695         1
10007      1850.000000   7400         4
100071     1875.000000   7500         4
100075     2295.000000   2295         1
100076     3164.000000   3164         1
100079     1350.000000   1350         1
100081     2800.000000   5600         2
...                ...    ...       ...
99915      3126.000000   3126         1
99917      3325.000000   3325         1
99919      2100.000000   2100         0
99921      1750.000000   3500         2
99923      5975.000000  11950         2
99924      2980.000000   2980         1
99931      2850.000000   2850         1
99933      1442.500000   2885         2
99935      2950.000000   2950         1
99937      2650.000000   2650         0
9994       2425.000000   4850         2
99953      3475.000000   3475         1
99956      2907.500000   5815         2
99960      2050.000000   2050         1
99961      1533.333333   4600         3
99964      2000.000000   2000         0
99965      3066.666667   9200         3
99966      1516.666667   4550         3
99979      1900.000000   1900         1
99980      2500.000000   2500         0
99982      2500.000000   2500         1
99984      2675.000000   2675         1
99986      3645.000000   3645         1
99987      2179.000000   2179         1
99988      4500.000000   4500         1
9999       1600.000000   3200         2
99991      3950.000000   3950         1
99992      2595.000000   2595         1
99993      3350.000000   3350         0
99994      1100.000000   2200         2

[49352 rows x 3 columns]

In [42]:
train_data[i].values

array([ 1.5,  1. ,  1. , ...,  1. ,  1. ,  1. ])